.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 999999999;
    background: #111111bd;
    transition: opacity .6s;
}
.mostrar-modal{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}
.contenedor_modal{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background: #fff;
    border-radius: 6px;
    padding: 2em;
    overflow-y: auto;
    border: 1px solid #9da4ae;
}
.modal_close{
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: #dc2f02;
    border: 1px solid #dc2f02;
    border-radius: 6px;

}